.navbar{
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 5px 20px 10px;
    height: 50px;
    z-index: 99;
    background-color: black;
    background-color: orange;
    // background-color: rgb(63, 27, 100);
    justify-content: space-between;
}

.navbar .tabs{
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.navbar .nav{
    text-decoration: none;
    font-weight: 300;
    //color: #fff;
}

.navbar .tab{
    transition: all .3s;
}

.navbar .tab:hover{
    border-bottom: 1px solid #FF3366;
}

.navbar .tabs .active{
    border-bottom: 2px solid #FF3366;
}

.navbar .tabs img{
    height: 20px;
}

.navbar .tabs a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    align-items: center;
}

// footer section
.footer{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'header header'
        'content1 content2'
    ;
    background-color: black;
}

.footer .social-contacts{
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.footer .social-sites{
    grid-area: content1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .social-groups{
    grid-area: content2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p, .footer input, .footer a{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}

.footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer input{
    color: #272525;
    font-weight: 300;
    outline: none;
    border: none;
}

.footer form{
    width: 100%;
    padding: 10px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer #email{
    width: 60%;
    font-size: 14px;
    padding: 5.5px 10px;
    border-radius: 4px 0 0 4px;
}

.footer #sub{
    padding: 6px 20px;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 0 4px 4px 0;
    background-color: orangered;
}

.footer a{
    width: 200px;
    display: flex;
    gap: 5px;
    color: #f1f1f1;
    font-weight: 300;
    align-items: center;
}

.footer a img{
    height: 20px;
}

@media only screen and (max-width: 800px){
    .navbar{
        padding: 10px 5px 10px 10px;
        height: 40px;
    }

    .navbar .tabs{
        gap: 20px;
        padding-right: 10px;
    }

    .navbar .tabs img{
        height: 15px;
    }
    
    .navbar .tabs a{
        font-size: 12px;
    }
    .navbar .tab:hover{
        border-bottom: 1px solid #FF3366;
    }
    
    .navbar .tabs .active{
        border-bottom: 1px solid #FF3366;
    }
    
    // footer section
    .footer{
    padding: 20px 30px;
    }

    .footer p{
        font-size: 16px;
    }
    .footer a{
        font-size: 13px;
        width: 150px;
        font-weight: 200;
    }
    
    .footer a img{
        height: 20px;
    }
}